html {
	display: flex;
	justify-content: center;
}

body {
	/*float: left;*/
	background-color: #00FFFF;

}

h1 {
	/*border: solid;*/
	/* border: thick double #32a1ce; */
	border: thick solid red;


}

.website-name {
 	/* margin-left: 25%; */
	text-align: center;
}

.middle_of_page {
	background-color: #00FFFF;
	height: 700px;
	width: 100%;
}

.wrapper {

}



main {
	box-sizing: border-box;
	border: thick solid red;
	width: 70%;
	height: 100%;
	float: left;

	/* float: left; */
}

aside {
	box-sizing: border-box;
	border: thick solid red;
	/* float: right; */
	width: 30%;
	height: 100%;
	float: left;
	padding: 10px;


}


header {
	border: thick solid red;
	width: 100%;


}

/*Layout the `search` and `log in` button in a nicer way*/
.search_and_log {
	display: flex;
	justify-content: space-between;
	border: thick solid yellow;
}

.log_in{
	margin: 1em;


}

.search_and_log div {
	border: thick solid black;
	/*I think it has to do with anchor styles or specificity..*/
}

/*Styling the navigation bar*/
.top_bar li {
	/* border: thick solid #94ffa4; */
	margin: 1em;
	list-style: none;
	display: block;




}

a {
   display: inline-block;
   position: relative;
   z-index: 1;
   padding-left: 1em;
   padding-right: 1em;
   margin: -1em;

}

aside a{
   display: inline-block;
   position: relative;
   z-index: 1;
   padding: 1em;
   width: 90%;


}

ul {
	border: thick solid red;
}


.top_bar {
  display: flex;
  justify-content: space-around;
  gap: 0.625%;
}

a {
  flex: 1;
  text-decoration: none;
  outline: none;
  text-align: center;
  line-height: 3;
  color: black;





}



a:link, a:visited, a:focus {
  background: #94ffa4;
}

a:hover {
  background: #d3fed9;
}

a:active {
  background: #00ef01;
  color: white;
}

/*-------------------------*/



aside ul li {
	border-color: green;
	list-style: none;
	margin-top: 40px;
	border-color: red;


}

main {
	background-color: #b4d5ef;
}

footer {
	border: thick solid red;
	clear: both;
	width: 100%;
}




