.wrapper {
	background: lightblue;
}

.blue {
	width: 100px;
	height: 100px;
	background-color: blue;
	float: left;
}

.green {
	width: 100px;
	height: 100px;
	background-color: green;
	float: left;
	clear: both;


}

.yellow {
	width: 100px;
	height: 100px;
	background-color: yellow;
	float: left;

}

.red {
	width: 100px;
	height: 100px;
	background-color: red;
	float: left;
}

.purple {
	width: 100px;
	height: 100px;
	background-color: purple;
	float: left;
	clear: both;
}

